body {
  background:  #004D00;
}
.row{
    display: flex;
    flex-direction: row; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.item{
    height: 256px;
    width: 256px;
}

.item:hover{
    position:fixed;
    top: 100px;;
    align-items: center;
    transform: scale(2);
}
