body {
  background:  #004D00;
}
.row{
    display: flex;
    flex-direction: row; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.item{
    height: 256px;
    width: 256px;
}

.item:hover{
    position:fixed;
    top: 100px;;
    align-items: center;
    transform: scale(2);
}




/*
.item-1{
    background: url(rainforest1.jpg) 0 256px;
}

 .item-2{
    background: url(rainforest2.jpg) ;
}

.item-3{
    background: url(rainforest3.jpg) ;
}


.item-4{
    background: url(rainforest4.jpg);
}


.item-5{
    background: url(rainforest5.jpg);
}

*/